
.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items:center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
.modal.active {
    opacity: 1;
    pointer-events: all;
}
.modal__content {
    background-color: hsl(78, 95%, 38%);
    border-radius: 15px;
    width: 50vw;
    /* height: 75vh; */
    padding: 15px;
    color:#fff;
    position: relative;
    transition: 1.5s;
    transform: 0.2;
}
.modal__content.active {
    transform: 1;
}
.modal__close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
.modal__account {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 90%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}
.modal__footer {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.modal__button {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    margin-top: 5px;
    font-size: 35px;
}
.modal__button__short {
    justify-content: center;
}
.btn-link {
    color: rgb(15, 11, 245);
}
.btn-link:hover {
    color:rgb(15, 11, 245);
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}
