.App {
  text-align: center;
  position: relative;
}
.App-logo {
  height: 100px;
  width: 100px;
  pointer-events: none;
}
.App-link {
  color: #a8ea10;
}
.Dashboard-main {
  margin:10px;
  min-height: 50vh;
  background-color:#328bf1;
}

.Adv {
  margin: 10px;
  min-height: 45vh;
  background-color:cadetblue;
}

.Dashboard-main-btn {
  margin: 10px;
}
/* .btn {
  background-color: rgb(181, 245, 4);
  border-bottom-color: #060aca;
  color: #060aca;
} */


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */
